@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

* {
	font-family: "Joan", serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: rgb(255, 255, 255);
}

.Header {
	width: 100%;
	height: 100px;
	background-color: rgb(135, 114, 229);
	text-align: center;
	color: aliceblue;

	font-size: 20px;
	padding: 25px;
}
.NavBar {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	background-color: rgb(143, 126, 205);
	padding: 10px;
	width: 100%;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.NavBar a {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	text-decoration: none;
	background-color: rgb(159, 194, 225);
	padding: 10px;
	border-radius: 100px;
	color: rgb(255, 255, 255);
}

.NavBar a.active {
	color: rgb(254, 254, 254);
	font-size: 25px;
}
.NavBar a:hover {
	color: rgb(127, 127, 249);
}
.footer {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	width: 100%;
	height: 30px;
	background-color: rgb(129, 114, 229);
	text-align: center;
	color: aliceblue;

	font-size: 20px;
	padding: 5px;

	position: fixed;
	bottom: 0;
	left: 0;
}
.content {
	display: grid;
	grid-template-columns: auto auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
	max-width: 100%;
	width: 800px;

	margin: auto;
	margin-top: 5px;
	background-color: rgba(139, 119, 207, 0.112);
	text-align: center;
}

.content .inContent {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	justify-content: center;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

	font-size: 15px;
	height: 400px;
	background-color: rgba(183, 179, 179, 0.065);
	margin: 5px;
	padding: 0px;
}

.content .inContent img {
	height: 300px;
	width: 100%;
	padding: 0px;
	object-fit: cover;
}
.content .inContent p {
	color: rgb(255, 255, 255);
	font-size: large;
	padding: 2px;
	border: 0;
	background-color: rgb(64, 74, 163);
	display: inline-block;
	margin: auto;
	border-radius: 10px;
}
.content .inContent button {
	padding: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: auto;
	margin-top: 10px;
	display: block;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border-radius: 100px;
	border: 0;
	background-color: rgb(60, 60, 183);
	font-size: 20px;
}
.content .inContent button:hover {
	color: rgb(171, 168, 168);
}
